<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <!--测试 configLocation 方式时使用该配置-->
  <typeHandlers>
    <typeHandler handler="tk.mybatis.enums.springboot.LabelValueTypeHandler"/>
  </typeHandlers>
</configuration>
