<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tk.mybatis.enums.enumtypehandler.Mapper">

  <select id="getUser" resultType="tk.mybatis.enums.enumtypehandler.User">
    select * from users where id = #{id}
  </select>

  <insert id="insertUser">
    insert into users (id, name, sex) values (#{id}, #{name}, #{sex})
  </insert>

</mapper>
