<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <Appenders>
    <Console name="stdout" target="SYSTEM_OUT">
      <PatternLayout pattern="%5p [%t] - %m%n" charset="utf-8"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="stdout"/>
    </Root>
  </Loggers>
</Configuration>
